body {
	background: black;
}

svg, #content {
	margin: 2vh 15%;
	display: block;	
	position: absolute;
	overflow: hidden;
}

h1 {
	color: white;
	text-align: center;
	font-size: 2.5em;
}
#content {
	background: whitesmoke;
}
.flag {
	position: absolute;
	margin: auto;
	z-index: 1;
	transform: scale(1.25);
}
.tooltip {
	opacity: 0;
	position: absolute;
	pointer-events: none;
	background: black;
	color: white;
	border-radius: 10px;
	padding: 0 10px;
	text-align: center;
	border: black solid 3px;
	z-index: 2;
}

#tip-content {
	margin: auto;
}